ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.container_api {
    width: 300px;
    border: burlywood solid 1px;
    text-align: center;    
}

.container_api li {
    list-style: none;
}

.container_api img {
    width: 100px;    
}

.btn {  
    background-color: rgb(198, 222, 231);
    color: rgb(69, 162, 238);
    padding: 8px;
    border: turquoise;
    border-radius: 4px;  
}