.App {   
    text-align: center; 
    background-color: rgb(148, 167, 167);
    width: 200px; 
    height: 170px;
    margin-left: auto;
    margin-right: auto;     
}

.App h2 {
    padding-top: 20px;
    text-align: center;
    color: aliceblue;
}

.App button {  
    background-color: aqua;
    color: darkblue;
}
